@model EINVOICE_BLUESEA.Models.Config

<h2 style="border-bottom:1px solid #fff">Liên hệ với chúng tôi</h2>
<div>
    <h4>Công Ty Cổ Phần Công Nghệ Và Truyền Thông Biển Xanh</h4>
    <p>Đầu mối liên hệ</p>
    <a href="skype:habt.marketing?chat" class="myInlineBlock" title="Chat Skype với kinh doanh B-INVOICE"><i class="fa fa-skype" aria-hidden="true"></i> Ms Hà</a>
    <a href="tel:0968154233" title="Gọi điện đến kinh doanh B-INVOICE"><i class="fa fa-phone" aria-hidden="true"></i> 0968 154 233</a>
    <a href="mailto:habt@bluesea.vn" class="myInlineBlock" title="Gửi thư đăng ký dịch vụ B-INVOICE"><i class="fa fa-envelope" aria-hidden="true"></i> habt@bluesea.vn</a>
</div>
<br/>
<div>
    <h4>Khu vực MIỀN BẮC</h4>
    <p>91 Trung Kính - Trung Hòa - Cầu Giấy - Hà Nội</p>
    <p>Đầu mối liên hệ</p>
    <a href="skype:live:22e86c02ea6cd2b5?chat" class="myInlineBlock" title="Chat Skype với kinh doanh B-INVOICE"><i class="fa fa-skype" aria-hidden="true"></i> Ms Huyền</a>
    <a href="tel:0912433003" title="Gọi điện đến kinh doanh B-INVOICE"><i class="fa fa-phone" aria-hidden="true"></i> 0912433003</a>
    <a href="mailto:huyenvt@bluesea.vn" class="myInlineBlock" title="Gửi thư đăng ký dịch vụ B-INVOICE"><i class="fa fa-envelope" aria-hidden="true"></i> huyenvt@bluesea.vn</a>
</div>
<br>
<div>
    <h4>Khu vực MIỀN NAM</h4>
    <p>205B Hoàng Hoa Thám - P6 - Quận Bình Thạnh - TP. HCM</p>
    <p>Đầu mối liên hệ</p>
    <a href="skype:live:luongtrang.ou?chat" class="myInlineBlock" title="Chat Skype với kinh doanh B-INVOICE"><i class="fa fa-skype" aria-hidden="true"></i> Ms Trang</a>
    <a href="tel:0911036013" title="Gọi điện đến kinh doanh B-INVOICE"><i class="fa fa-phone" aria-hidden="true"></i> 0911 036 013</a>
    <a href="mailto:tranglt@bluesea.vn" class="myInlineBlock" title="Gửi thư đăng ký dịch vụ B-INVOICE"><i class="fa fa-envelope" aria-hidden="true"></i> tranglt@bluesea.vn</a>
</div>