<div class="mySection purple" style="background-image:url('/img/background_contact.jpg');background-repeat:no-repeat;height:573px">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">

                <h2 style="text-transform:uppercase;font-weight:bold;font-size:32px;margin-bottom:50px;"><img src="~/img/cai-thien.png" class="img-responsive" width="100%" /></h2>



                <div style="text-align:right">
                    <a id="linkLienHe" class="btnActionBlue" href="/giai-phap" data-wow="flipInX" style="background-image: url(/img/button-red.png); background-color: transparent; width: 320px; height: 87px; font-size: 25px; padding-top: 40px;border:none;padding-right:55px;font-weight:900">XEM GIẢI PHÁP</a>
                </div>
                <div style="text-align:right">
                    <a id="linkLienHe" class="btnActionBlue" href="/lien-he" data-wow="flipInX" style="        background-image: url(/img/button-blue.png);
        background-color: transparent;
        width: 325px;
        height: 100px;
        font-size: 25px;
        padding-top: 55px;
        border: none;
        padding-right: 60px;
        font-weight: 900
">LIÊN HỆ NGAY</a>
                </div>
                <marquee behavior="alternate" style="-webkit-animation: rightThenLeft 4s linear;">
                    <h3 style="margin-top:50px;font-size:35px">
                        <a href="tel:0968154233" data-wow="" title="Gọi điện đến kinh doanh B-INVOICE" style="color:red;float:left"><img src="~/img/phone.png" class="img-responsive" /></a>
                    </h3>
                </marquee>
            </div>
        </div>
    </div>
</div>
