
@{
    ViewBag.Title = "Index";
}

<div class="home-content">
    <div class="row home-tintuc large-columns-2 medium-columns-2 small-columns-1">
        <h2 style="color:orange;text-align:center;padding-top:200px;padding-bottom:200px">CHỨC NĂNG NÀY CHƯA HOÀN THÀNH, VUI LÒNG QUAY LẠI SAU</h2>
    </div>
</div>

