
@{
    ViewBag.Title = "Kích hoạt";
    List<WebBHDTCHUNG.Models.Province> lprovince = (List<WebBHDTCHUNG.Models.Province>)TempData["province"];
}
@section scripts{
    <script>
        function GetCustomer() {
            var phone = $("#phone").val();
            $.ajax({
                url: '/Active/GetCustomer',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    phone: phone
                }),
                success: function (result) {
                    var ob = $.parseJSON(result);
                    if (ob.Name.length > 3) {
                        $("#name").val(ob.Name);
                        $("#address").val(ob.Address);
                        $('#province').append(new Option(ob.City, ob.City, true, true));
                        $('#district').append(new Option(ob.District, ob.District, true, true));
                        $("#email").val(ob.Email);
                    }
                },
                error: function () {
                    $("#name").val("");
                    $("#address").val("");
                    $("#email").val("");
                    $('#province').append(new Option("Nhập Tỉnh thành", "", true, true));
                    $('#district').append(new Option("Nhập Quận huyện", "", true, true));
                },
            });
        }
        function GetProduct() {
            var serial = $("#serial").val();
            $.ajax({
                url: '/Active/GetProduct',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    serial: serial
                }),
                success: function (result) {
                    if (result.length > 2) {
                        $("#prodname").val(result);
                    } else {
                        $("#prodname").val("");
                        alert("sản phẩm không tồn tại.");
                    }
                },
                error: function () {
                    alert("Da co loi xay ra. Lien he hotline...")
                },
            });
        }
        function GetCity() {
            $("#district").html("");
            $("#district").append
                ($('<option></option>').val("").html("Nhập Quận huyện"))
            var name = $("#province").val();
            $.ajax
                ({
                    url: '/Active/GetCity',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        name: name
                    }),
                    success: function (result) {
                        $.each($.parseJSON(result), function (i, city) {
                            $("#district").append
                                ($('<option></option>').val(city).html(city))
                        })
                    },
                    error: function () {
                        alert("Hệ thống xảy ra lỗi.")
                    },
                });
        }
        var find = {
            init: function () {
                find.registerEvent();
            },
            registerEvent: function () {
                $('#send').off('click').on('click', function () {
                    $("#txt-info").css("display", "none");
                    $("#tbl-result").css("display", "none");

                    var serial = $('#serial').val();
                    var name = $('#name').val();
                    var phone = $('#phone').val();
                    var province = $('#province').val();
                    var district = $('#district').val();
                    var address = $('#address').val();
                    var note = $('#note').val();
                    var email = $('#email').val();
                    if (serial.length < 2) {
                        $("#txt-info").css("display", "block");
                        $("#txt-info").text("Số serial không đúng.");
                    }
                    else if (name.length == 0 || phone.length < 8 || province.length == 0 || district == 0) {
                        $("#txt-info").css("display", "block");
                        $("#txt-info").text("Các trường thông tin chưa đúng");
                    }
                    else {
                        $.ajax({
                            url: '/Active/Send',
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                serial: serial,
                                name: name,
                                phone: phone,
                                province: province,
                                district: district,
                                address: address,
                                note: note,
                                email: email
                            },
                            success: function (ress) {
                                var ob = $.parseJSON(ress);
                                $("#txt-info").css("display", "block");
                                $("#txt-info").text(ob.message);

                                if (ob.prodActive != null) {
                                    $("#tbl-result").css("display", "block");
                                    $("#mname").text(ob.prodActive.Name);
                                    $("#mserial").text(ob.prodActive.Serial);
                                    $("#mmodel").text(ob.prodActive.Model);
                                    $("#mtrade").text(ob.prodActive.MadeIn);
                                    $("#mlimited").text(ob.prodActive.Limited + " tháng");
                                    $("#mactive").text(dateFormat(new Date(parseInt((ob.prodActive.Activedate).match(/\d+/)[0]))));
                                    $("#mend").text(dateFormat(addMonth(new Date(parseInt((ob.prodActive.Activedate).match(/\d+/)[0])), ob.prodActive.Limited)));
                                }

                                find.resetForm();
                            }
                        });
                    }
                });
            },
            resetForm: function () {
                $('#serial').val("");
                $('#name').val("");
                $('#phone').val("");
                $('#province').val("");
                $('#district').val("");
                $('#address').val("");
                $('#note').val("");
                $('#email').val("");
            }
        }
        find.init();
        function dateFormat(d) {
            console.log(d);
            return ((d.getDate()) + "").padStart(2, "0")
                + "/" + (d.getMonth() + 1 + "").padStart(2, "0")
                + "/" + d.getFullYear();
        }
        function addMonth(dt, n) {
            return new Date(dt.setMonth(dt.getMonth() + n));
        }
    </script>
}

<div class="home-content">
    <div class="row home-tintuc large-columns-2 medium-columns-2 small-columns-1">
        <div class="col post-item" data-animate="bounceIn" data-animated="true">
            <div class="col-inner">
                <table class="table-input">
                    <tr>
                        <td><label for="name" class="cols-sm-2 control-label">Mã cào  <span style="color: red">(*)</span> </label></td>
                        <td><input onblur="GetProduct(this)" name="serial" type="text" id="serial" class="form-control" required placeholder="Nhập mã cào" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label for="name" class="cols-sm-2 control-label">Tên sản phẩm / Product Name  </label>
                        </td>
                        <td>
                            <input name="prodname" type="text" id="prodname" class="form-control" required placeholder="Nhập tên sản phẩm" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="email" class="cols-sm-2 control-label">Số điện thoại / Phone Number  <span style="color: red">(*)</span> </label>
                        </td>
                        <td>
                            <input pattern="[1-9]" onblur="GetCustomer(this)" name="phone" type="number" id="phone" class="form-control" required placeholder="Nhập số điện thoại" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="name" class="cols-sm-2 control-label">Họ tên / Full Name  <span style="color: red">(*)</span> </label>
                        </td>
                        <td>
                            <input name="name" type="text" id="name" required class="form-control" placeholder="Nhập họ tên" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="address" class="cols-sm-2 control-label">Tỉnh thành / Province  <span style="color: red">(*)</span> </label>
                        </td>
                        <td>
                            <select name="province" onchange="GetCity()" id="province" class="form-control HeightCBB" required placeholder="Nhập tỉnh thành">
                                <option value="">Nhập Tỉnh thành</option>
                                @foreach (var item in lprovince)
                                {
                                    <option value="@item.Name">@item.Name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="address" class="cols-sm-2 control-label">Quận huyện / District  <span style="color: red">(*)</span> </label>
                        </td>
                        <td>
                            <select name="district" id="district" class="form-control HeightCBB" required placeholder="Nhập Quận huyện">
                                <option value="">Nhập Quận huyện</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="address" class="cols-sm-2 control-label">Địa chỉ / Address</label>
                        </td>
                        <td>
                            <input name="address" type="text" id="address" class="form-control" placeholder="Nhập địa chỉ" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="email" class="cols-sm-2 control-label">Email</label>
                        </td>
                        <td>
                            <input name="email" type="email" id="email" class="form-control" placeholder="Nhập email" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input style="width:100%" type="button" name="send" value="Kích Hoạt Bảo Hành" id="send" class="btn btn-success submit" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col post-item" data-animate="bounceIn" data-animated="true" style="padding-top:100px;">
            <p id="txt-info" class="w3-animate-left alert-danger" style="display:none;"></p>

            <table id="tbl-result" class="w3-animate-left alert-success" style="display:none;">
                <tr>
                    <td>
                        Tên sản phẩm:
                    </td>
                    <td id="mname">
                    </td>
                </tr>
                <tr>
                    <td>
                        Mã cào:
                    </td>
                    <td id="mserial">
                    </td>
                </tr>
                <tr>
                    <td>
                        Model:
                    </td>
                    <td id="mmodel">
                    </td>
                </tr>
                <tr>
                    <td>
                        Thương hiệu:
                    </td>
                    <td id="mtrade">
                    </td>
                </tr>
                <tr>
                    <td>
                        Ngày kích hoạt:
                    </td>
                    <td id="mactive">
                    </td>
                </tr>
                <tr>
                    <td>
                        Hạn bảo hành:
                    </td>
                    <td id="mlimited">
                    </td>
                </tr>
                <tr>
                    <td>
                        Ngày hết hạn:
                    </td>
                    <td id="mend">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>