
@{
    ViewBag.Title = "Kích hoạt - http://kichhoat.baohanhdientu.vip/";
    List<WebBHDTCHUNG.Models.Province> lprovince = (List<WebBHDTCHUNG.Models.Province>)TempData["province"];
}

<style>
    #playground-container {
        height: 500px;
        overflow: hidden !important;
        -webkit-overflow-scrolling: touch;
    }


    .main {
        top: 0;
    }

    h1.title {
        font-size: 50px;
        font-family: Arial;
        font-weight: 400;
    }

    hr {
        width: 10%;
        color: #fff;
    }

    .form-group {
        margin-bottom: 5px;
    }



    input,
    input::-webkit-input-placeholder {
        font-size: 11px;
        padding-top: 3px;
    }

    .main-login {
        background-color: #fff;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .form-control {
        height: auto !important;
        padding: 8px 12px !important;
    }

    .input-group {
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
    }

    #button {
        border: 1px solid #ccc;
        margin-top: 28px;
        padding: 6px 12px;
        color: #666;
        text-shadow: 0 1px #fff;
        cursor: pointer;
        -moz-border-radius: 3px 3px;
        -webkit-border-radius: 3px 3px;
        border-radius: 3px 3px;
        -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
        -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
        box-shadow: 0 1px #fff inset, 0 1px #ddd;
        background: #f5f5f5;
        background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
        background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
    }

    .main-center {
        margin-top: 30px;
        margin: 0 auto;
        max-width: 800px;
        padding: 10px 40px;
        background: #ededed;
        color: #1b1919;
        text-shadow: none;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    }

    span.input-group-addon i {
        color: #009edf;
        font-size: 17px;
    }

    .login-button {
        margin-top: 5px;
    }

    .HeightCBB {
        height: 38px !important;
    }

    .login-register {
        font-size: 11px;
        text-align: center;
    }

    .submit {
        height: 38px;
        width: 48%;
        float: initial;
        margin-top: 10px;
    }
</style>
@section scripts{
    <script>
        function GetCity() {
            $("#district").html("");
            $("#district").append
                ($('<option></option>').val("").html("Nhập Quận huyện"))
            var name = $("#province").val();
            $.ajax
                ({
                    url: '/Active/GetCity',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        name: name
                    }),
                    success: function (result) {
                        $.each($.parseJSON(result), function (i, city) {
                            $("#district").append
                                ($('<option></option>').val(city).html(city))
                        })
                    },
                    error: function () {
                        alert("Hệ thống xảy ra lỗi.")
                    },
                });
        }

        var find = {
            init: function () {
                find.registerEvent();
            },
            registerEvent: function () {
                $('#send').off('click').on('click', function () {
                    $("#txt-info").css("display", "none");

                    var serial = $('#serial').val();
                    var name = $('#name').val();
                    var phone = $('#phone').val();
                    var province = $('#province').val();
                    var district = $('#district').val();
                    var address = $('#address').val();
                    var note = $('#note').val();
                    var email = $('#email').val();
                    if (serial.length < 5) {
                        $("#txt-info").css("display", "block");
                        $("#txt-info").text("Số serial không đúng.");
                    }
                    else if (name.length == 0 || phone.length == 0 || province.length == 0 || district == 0) {
                        $("#txt-info").css("display", "block");
                        $("#txt-info").text("Thông tin kích hoạt không đủ");
                    }
                    else {
                        $.ajax({
                            url: '/Active/Send',
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                serial: serial
                            },
                            success: function (ress) {
                                var ob = $.parseJSON(ress);
                                $("#txt-info").css("display", "block");
                                $("#txt-info").text(ob.message);

                                contact.resetForm();
                            }
                        });
                    }
                });
            },
            resetForm: function () {
                $('#serial').val("");
            }
        }
        find.init();
    </script>
}
<div class="row main">
    <div class="main-login main-center">
        <h5 style="font-size: 16px;">Đăng ký kích hoạt bảo hành / Warranty Activation Register</h5>
        <br />
        <div class="row">
            <form>
                <div class="row">
                    <div class="col-lg-12" style="font-size:13px;">
                        <div class="form-group col-lg-6">
                            <label for="name" class="cols-sm-2 control-label">Số serial / Serial Number  <span style="color: red">(*)</span> </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-barcode" aria-hidden="true"></i></span>
                                    <input name="serial" type="text" id="serial" class="form-control" required placeholder="Nhập số serial" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="address" class="cols-sm-2 control-label">Tỉnh thành / Province  <span style="color: red">(*)</span> </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-address-card" aria-hidden="true"></i></span>
                                    <select name="province" onchange="GetCity()" id="province" class="form-control HeightCBB" required placeholder="Nhập tỉnh thành">
                                        <option value="">Nhập tỉnh thành</option>
                                        @foreach (var item in lprovince)
                                        {
                                            <option value="@item.Name">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="name" class="cols-sm-2 control-label">Họ tên / Full Name  <span style="color: red">(*)</span> </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input name="name" type="text" id="name" required class="form-control" placeholder="Nhập họ tên" />

                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="address" class="cols-sm-2 control-label">Quận huyện / District  <span style="color: red">(*)</span> </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-address-card" aria-hidden="true"></i></span>
                                    <select name="district" id="district" class="form-control HeightCBB" required placeholder="Nhập Quận huyện">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="email" class="cols-sm-2 control-label">Số điện thoại / Phone Number  <span style="color: red">(*)</span> </label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                                    <input name="phone" type="text" id="phone" class="form-control" required placeholder="Nhập số điện thoại" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="address" class="cols-sm-2 control-label">Địa chỉ / Address</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-address-card" aria-hidden="true"></i></span>
                                    <input name="address" type="text" id="address" class="form-control" placeholder="Nhập địa chỉ" />
                                </div>
                            </div>
                        </div>


                        <div class="form-group col-lg-6">
                            <label for="email" class="cols-sm-2 control-label">Ghi chú / Note</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                    <input name="note" type="text" id="note" class="form-control" placeholder="Nhập ghi chú" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="email" class="cols-sm-2 control-label">Email</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input name="email" type="text" id="email" class="form-control" placeholder="Nhập email" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-12">


                    <input type="button" name="send" value="Đăng Ký / Register" id="send" class="btn btn-success submit" />
                    <p id="txt-info" class="w3-animate-left alert alert-danger" style="display:none;"></p>


                </div>


            </form>
        </div>
    </div>
</div>

