<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hóa Đơn Điện Tử</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico" />

    <title>Hóa đơn điện tử VNPT</title>
    <meta name="description" content="Hóa đơn điện tử vnpt giúp doanh nghiệp tiết kiệm thời gian, chi phí, bảo mật an toàn, chính xác.">
    <meta name="keywords" content="Hóa đơn điện tử, hoa don dien tu, hóa đơn điện tử vnpt, hoa don dien tu vnpt, hóa đơn vnpt, hoa don vnpt, einvoice">

</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="~/">
                    <img src="~/images/logo-left.png" alt="" class="img-responsive logo-left" />
                </a>
                <img src="~/images/logo-right.png" alt="" class="img-responsive logo-right" />
            </div>
            <div class="hotline">
                <p>Hotline: 0912.433.003</p>
            </div>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>
    </div>
    <footer>
        <div class="container">
            <hr />
            <h5>
                <span>TẬP ĐOÀN BƯU CHÍNH VIỄN THÔNG VIỆT NAM<br /></span>
                @*Địa chỉ: Số 216 Trần Duy Hưng, Phường Trung Hòa, Quận Cầu Giấy, TP. Hà Nội<br />
                    ĐT: 0912 573 734            E-mail: htyen@evnpt.vn*@
            </h5>
        </div>
    </footer>

</body>
</html>