
@{
    ViewBag.Title = "Index";
}

<div id="slogan" class="BaoGia Hddt">
    <div class="slogan">
        <div class="h1">BÁO GIÁ HÓA ĐƠN ĐIỆN TỬ B-INVOICE</div>
        <div class="h3">Tiết kiệm lên đến 90% chi phí hóa đơn cho doanh nghiệp.</div>
    </div>
</div>
<div id="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="/" class="home" title="Trang chủ">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>
            <li class="active">Bảng giá dịch vụ hóa đơn điện tử B-INVOICE</li>

        </ol>
    </div>
</div>

<div class="mySection light">
    <div class="container mySectionText">
        <h1 class="mySectionTitle text-center">BẢNG GIÁ <span class="myInlineBlock">DỊCH VỤ HÓA ĐƠN ĐIỆN TỬ B-INVOICE</span></h1>
        <hr class="mySectionLineShort">
        <div class="col-md-6">
            <h2 class="mySectionSubTitle text-center"> B-INVOICE - PHẦN MỀM HÓA ĐƠN ĐIỆN TỬ ĐƯỢC ƯA CHUỘNG NHẤT</h2>
            <ul>
                <li>Đáp ứng đầy đủ nghiệp vụ hóa đơn theo đúng Nghị định 119, thông tư 32, thông tư 68…và cơ quan thuế thẩm định chất lượng hàng đầu</li>
                <li>Ký số & Phát hành hóa đơn điện tử mọi lúc mọi nơi</li>
                <li>Kết nối dễ dàng với các phần mềm kế toán, bán hàng….tiết kiệm hơn 70% thời gian nhập</li>
                <li>Dễ dàng báo cáo, tra cứu, thanh toán, lưu trữ hóa đơn</li>
            </ul>
        </div>
        <div class="col-md-6">
            <a href="http://b-invoice.vn/lien-he">
                <img src="~/img/poup.png" class="img-responsive" />
            </a>
        </div>

        <hr class="mySectionLineShort">
        <div class="col-md-12">
            <h2 class="mySectionSubTitle text-center"> ƯU ĐÃI CỰC LỚN TỪ HÓA ĐƠN ĐIỆN TỬ B-INVOICE</h2>
            <ul>
                <li>TẶNG THÊM 1000 HĐĐT khi đăng kí mới gói bất kì</li>
                <li>MIỄN PHÍ 100% phí thuê bao hành năm</li>
                <li>MIỄN PHÍ 100% thiết kế mẫu hóa đơn</li>
                <li>MIỄN PHÍ 100% phí tư vấn thủ tục đăng kí hóa đơn điện tử với cơ quan thuế</li>
                <li>MIỄN PHÍ 100% phí lưu trữ hóa đơn điện tử 10 năm với hệ thống lưu trữ an toàn nhất</li>
                <li>MIỄN PHÍ 100% kết nối với phần mềm kế toán, bán hành, quản trị</li>
                <li>Không giới hạn số lượng người dùng</li>
            </ul>

            <img src="~/img/bn-baogia.png" class="img-responsive" />

            <a href="http://b-invoice.vn/lien-he">
                <img src="~/img/btn-bg-dungthu.png" class="img-responsive" />
            </a>
        </div>

        <hr class="mySectionLineShort">
        <h2 class="mySectionSubTitle"><i class="fa fa-caret-right" aria-hidden="true"></i> CƯỚC DỊCH VỤ TÍNH THEO SỐ LƯỢNG HÓA ĐƠN</h2>
        <div class="row">
            <div class="col-md-12">
                <table class="myTable hover">
                    <thead>
                        <tr>
                            <td class="head">STT</td>
                            <td class="head">Tên gói cước</td>
                            <td class="head">Số lượng hóa đơn</td>
                            <td class="head">Đơn giá (VNĐ)</td>
                            <td class="head">Thành tiền</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="cell">1</td>
                            <td class="cell"><span class="myHddtSlHd">HD200</span></td>
                            <td class="cell">200</td>
                            <td class="cell">1,500</td>
                            <td class="cell">300,000</td>
                        </tr>
                        <tr>
                            <td class="cell">2</td>
                            <td class="cell"><span class="myHddtSlHd">HD300</span></td>
                            <td class="cell">300</td>
                            <td class="cell">1,000</td>
                            <td class="cell">300,000</td>
                        </tr>
                        <tr>
                            <td class="cell">3</td>
                            <td class="cell"><span class="myHddtSlHd">HD500</span></td>
                            <td class="cell">500</td>
                            <td class="cell">750</td>
                            <td class="cell">375,000</td>
                        </tr>
                        <tr>
                            <td class="cell">4</td>
                            <td class="cell"><span class="myHddtSlHd">HD1000</span></td>
                            <td class="cell">1,000</td>
                            <td class="cell">600</td>
                            <td class="cell">600,000</td>
                        </tr>
                        <tr>
                            <td class="cell">5</td>
                            <td class="cell"><span class="myHddtSlHd">HD2000</span></td>
                            <td class="cell">2,000</td>
                            <td class="cell">400</td>
                            <td class="cell">800,000</td>
                        </tr>
                        <tr>
                            <td class="cell ">6</td>
                            <td class="cell "><span class="myHddtSlHd">HD3000</span></td>
                            <td class="cell ">3,000</td>
                            <td class="cell ">350</td>
                            <td class="cell">1,050,000</td>
                        </tr>
                        <tr>
                            <td class="cell ">7</td>
                            <td class="cell "><span class="myHddtSlHd">HD5000</span></td>
                            <td class="cell ">5,000</td>
                            <td class="cell ">300</td>
                            <td class="cell">1,500,000</td>
                        </tr>
                        <tr>
                            <td class="cell">8</td>
                            <td class="cell"><span class="myHddtSlHd">HD10.000</span></td>
                            <td class="cell">Trên 10,000</td>
                            <td class="cell">265</td>
                            <td class="cell">2,650,000</td>
                        </tr>
                        <tr>
                            <td class="cell">9</td>
                            <td class="cell"><span class="myHddtSlHd">HD50.000</span></td>
                            <td class="cell">Trên 50,000</td>
                            <td class="cell">250</td>
                            <td class="cell">12,500,000</td>
                        </tr>
                        <tr>
                            <td class="cell">10</td>
                            <td class="cell"><span class="myHddtSlHd">HD100.000</span></td>
                            <td class="cell">Trên 100,000</td>
                            <td class="cell">220</td>
                            <td class="cell">22,000,000</td>
                        </tr>
                        <tr>
                            <td class="cell">11</td>
                            <td class="cell"><span class="myHddtSlHd">HD500.000</span></td>
                            <td class="cell">Trên 500,000</td>
                            <td class="cell">200</td>
                            <td class="cell">100,000,000</td>
                        </tr>
                        <tr>
                            <td class="cell">12</td>
                            <td class="cell"><span class="myHddtSlHd">HD1.000.000</span></td>
                            <td class="cell">Trên 1,000,000</td>
                            <td class="cell">180</td>
                            <td class="cell">180,000,000</td>
                        </tr>
                    </tbody>
                </table>
                @*<div class="text-right"><small><i>(Giá trên chưa bao gồm thuế <abbr title="VAT là từ viết tắt của Value Added Tax, nghĩa là Thuế giá trị gia tăng">VAT</abbr> 10%)</i></small></div>*@
                <div>
                    <h3><strong>Lưu ý:</strong></h3>
                    <ul>
                        <li>Phí hóa đơn điện tử: Tính theo gói hóa đơn khách hàng đăng kí sử dụng theo nhu cầu</li>
                        <li>Không giới hạn thời gian sử dụng gói hóa đơn</li>
                        <li>Doanh nghiệp thanh toán 100% giá trị gói cước ngay sau khi kí hợp đồng hoặc gia hạn hợp đồng mua gói hóa đơn</li>
                        <li>Phí trên đã bao gồm: Phí lưu trữ mỗi hóa đơn trong vòng 10 năm, tính từ ngày phát hành hóa đơn</li>
                        <li>Phí trên chưa bao gồm 10% VAT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="mySection bgImg">
        <div class="container mySectionText">
            <h2 class="mySectionSubTitle"><i class="fa fa-caret-right" aria-hidden="true"></i> CHI PHÍ THUÊ / MUA THIẾT BỊ KÝ SỐ HÓA ĐƠN ĐIỆN TỬ</h2>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <div class="h3">Giải pháp <abbr title="Hóa Đơn Điện Tử">HĐĐT</abbr> của <abbr title="Tập đoàn Bưu chính Viễn thông Việt Nam">BLUESEA</abbr> hỗ trợ 2 loại hình ký số điện tử sau:</div>
                        <ul>
                            <li><strong>Đối với doanh nghiệp có số lượng hóa đơn phát hành hàng năm dưới 10.000/<abbr title="Mã số thuế">MST</abbr> doanh nghiệp có thể sử dụng thiết bị ký số USB-Token của <abbr title="Tập đoàn Bưu chính Viễn thông Việt Nam">BLUESEA</abbr> hay các nhà cung cấp chữ ký số khác.</strong></li>
                            <li><strong>Đối với doanh nghiệp có số lượng hóa đơn phát hành hàng năm từ 10.000/<abbr title="Mã số thuế">MST</abbr> trở lên, <abbr title="Tập đoàn Bưu chính Viễn thông Việt Nam">BLUESEA</abbr> khuyến cáo khách hàng nên sử dụng thiết bị ký số HSM.</strong></li>
                        </ul>
                    </div>
                    <div>
                        <div class="h3">Sự khác nhau giữa thiết bị ký số HSM &amp; USB Token</div>
                        <table class="myTable kyso">
                            <thead>
                                <tr>
                                    <td class="head kyso-hsm">Thiết bị ký số HSM</td>
                                    <td class="head kyso-usb">Thiết bị ký số USB Token</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="cell borderBottomNone kyso-hsm">Ký số tập trung, người dùng không phải mang thiết bị ký số như USB Token</td>
                                    <td class="cell borderBottomNone kyso-usb">Ký số theo mô hình phân tán tại client. Người dùng bắt buộc phải luôn mang theo thiết bị bên mình</td>
                                </tr>
                                <tr>
                                    <td class="cell kyso-hsm borderBottomNone borderTopNone">Nhiều bộ phận thực hiện ký số cùng lúc, phân quyền sử dụng cho các bộ phận liên quan dễ dàng</td>
                                    <td class="cell kyso-usb borderBottomNone borderTopNone">Tại một thời điểm chỉ có 01 người sử dụng, không thể phân quyền rộng rãi và chi tiết cho từng bộ phận sử dụng</td>
                                </tr>
                                <tr>
                                    <td class="cell kyso-hsm borderTopNone">Ký số tốc độ cao &amp; ký đồng thời đảm bảo nguyên tắc số hóa đơn liền dãy - liên tục theo trình tự thời gian, tốc độ lên đến 1,500 hóa đơn/giây</td>
                                    <td class="cell kyso-usb borderTopNone">Ký số lần lượt và tốc độ ký chậm, ~ 4-5 hóa đơn/phút</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <h3>CHI PHÍ THUÊ DỊCH VỤ CHỮ KÝ SỐ HSM</h3>
                        <div class="text-right"><small><i>Đơn vị tính: VNĐ</i></small></div>
                        <table class="myTable hover">
                            <thead>
                                <tr>
                                    <td class="head">STT</td>
                                    <td class="head">Gói chứng thư số</td>
                                    <td class="head">Phí thuê bao 12 tháng</td>
                                    <td class="head">Phí thuê bao 24 tháng</td>
                                    <td class="head">Phí thuê bao 36 tháng</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="cell">1</td>
                                    <td class="cell">Giá dịch vụ (độ dài khóa 1024 bit)</td>
                                    <td class="cell">5,000,000</td>
                                    <td class="cell">9,000,000</td>
                                    <td class="cell">12,000,000</td>
                                </tr>
                                <tr>
                                    <td class="cell">2</td>
                                    <td class="cell"><strong>Thiết bị HSM</strong></td>
                                    <td class="cell" colspan="3"><strong>Sử dụng chung thiết bị HSM của <abbr title="Tập đoàn Bưu chính Viễn thông Việt Nam">BLUESEA</abbr></strong></td>
                                </tr>
                                <tr>
                                    <td class="cell">3</td>
                                    <td class="cell">Tổng cước trọn gói</td>
                                    <td class="cell"><strong>5,000,000</strong></td>
                                    <td class="cell"><strong>9,000,000</strong></td>
                                    <td class="cell"><strong>12,000,000</strong></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-right"><small><i>(Giá trên chưa bao gồm thuế <abbr title="VAT là từ viết tắt của Value Added Tax, nghĩa là Thuế giá trị gia tăng">VAT</abbr> 10%)</i></small></div>
                        <p>Trường hợp khách hàng đăng ký sử dụng chữ ký số độ dài 2048 bit: phí thuê bao bằng 150% gói chữ ký số có độ dài 1024 bit tương ứng.</p>
                    </div>
                    <div>
                        <h3>CHI PHÍ THUÊ DỊCH VỤ KÝ SỐ BLUESEA-CA (USB-TOKEN)</h3>
                        <table class="myTable hover">
                            <thead>
                                <tr>

                                    <td class="head head-line-bottom" colspan="5">
                                        Chữ ký số BLUESEA – CA
                                        <div>Gói Ozganization ID Standard 1024 bit <br> Đối tượng đăng ký mới chữ thư số BLUESEA-CA </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">STT</td>
                                    <td class="head">Thời hạn gói cước</td>
                                    <td class="head">Cước chứng thư số (VNĐ)</td>
                                    <td class="head">Giá USB-Token (VNĐ)</td>
                                    <td class="head">Giá thanh toán (VNĐ)</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="cell">1</td>
                                    <td class="cell">Gói 12 tháng</td>
                                    <td class="cell">1,273,000</td>
                                    <td class="cell">550,000</td>
                                    <td class="cell">1,823,000</td>
                                </tr>
                                <tr>
                                    <td class="cell">2</td>
                                    <td class="cell">Gói 24 tháng</td>
                                    <td class="cell"><strong>2,190,000</strong></td>
                                    <td class="cell"><strong>550,000</strong></td>
                                    <td class="cell"><strong>2,740,000</strong></td>
                                </tr>
                                <tr>
                                    <td class="cell">3</td>
                                    <td class="cell">Gói 36 tháng</td>
                                    <td class="cell"><strong>3,112,000</strong></td>
                                    <td class="cell"><strong>Miễn phí</strong></td>
                                    <td class="cell"><strong>3,112,000</strong></td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Trường hợp gia hạn chữ ký số khi sử dụng USB token thì giá cước không bao gồm chi phí mua USB-Token</p>
                        <div class="text-right"><small><i>(Giá trên đã bao gồm thuế <abbr title="VAT là từ viết tắt của Value Added Tax, nghĩa là Thuế giá trị gia tăng">VAT</abbr> 10%, cập nhật 10/05/2018)</i></small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<div class="mySection light">
    <div class="container mySectionText">
        <h2 class="mySectionSubTitle"><i class="fa fa-caret-right" aria-hidden="true"></i> PHÍ HỖ TRỢ TRIỂN KHAI, HỖ TRỢ TÍCH HỢP</h2>
        <div class="row">
            <div class="col-md-12">
                <div>

                    <table class="myTable hover">
                        <thead>
                            <tr>
                                <td class="head">STT</td>
                                <td class="head">Loại hình doanh nghiệp</td>
                                <td class="head">Phương thức tạo lập hóa đơn</td>
                                <td class="head">Phương thức tích hợp, cài đặt</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="cell">1</td>
                                <td class="cell"><abbr title="Doanh nghiệp">DN</abbr> nhỏ, dùng hóa đơn viết tay</td>
                                <td class="cell">Xuất hóa đơn trực tiếp trên hệ thống phát hành hóa đơn</td>
                                <td class="cell"><span style="color:red">FREE</span></td>
                            </tr>
                            <tr>
                                <td class="cell">2</td>
                                <td class="cell"><abbr title="Doanh nghiệp">DN</abbr> sử dụng phần mềm đặt in hóa đơn(phần mềm kế toán, phần mềm bán hàng...)</td>
                                <td class="cell">Tích hợp phần mềm, DN xuất hóa đơn trên phần mềmn</td>
                                <td class="cell"><span style="color:red">FREE</span></td>
                            </tr>
                            <tr>
                                <td class="cell">3</td>
                                <td class="cell"><abbr title="Doanh nghiệp">DN</abbr> sử dụng hệ thống nghiệp vụ chuyên biệt</td>
                                <td class="cell">
                                    Sử dụng theo hệ thống đặc thù, chuyên dụng
                                    Thực hiện khảo sát, lên phương án triển khai phù hợp với từng hệ thống
                                </td>
                                <td class="cell">Báo giá theo khối lượng công việc</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>

@{ Html.RenderAction("loadPurble", "Home");}
